/* dark blue 005C91 */
/* light blue 006496*/
:root{
    --darkBlue: #005C91;
    --blue: #367a9c;
    --lightBlue: #33B5E0;
}
#parallax_image {
    height: 300px;
}
/* transact */
.network_nodes, .other_nodes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



.block_button{
    background-color: var(--lightBlue)
}

.block_button:hover{
    background-color: var(--darkBlue)
}


.pend_trans_div{
    border: 1px solid var(--darkBlue);
}

.block_title_div {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:white;
}
.block_title {
    margin: 0;
}

.trans_block {
    color: white;
    padding-left: 20px;
    border: 1px solid var(--darkBlue);
    background-color: var(--blue);
}

div.collapsible-header {
    background-color: var(--darkBlue);
}

.search_div{
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--blue);
}
#search_button_div {
    height: 115px;
    display: flex;
    justify-content: start;
    align-items: center;
}

